// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #f09720
$secondary: #e3ad66
$tertiary: #555

$neutral: #E0E1E2
$positive: #21BA45
$negative: #DB2828
$info: #31CCEC
$warning: #F2C037

$tooltip-fontsize: 12px

.last-modified
	color: gainsboro

.handwriting
	font-family: 'Patrick Hand', cursive
	letter-spacing: 0.1mm

.poppins
	font-family: 'Poppins', sans-serif

.q-item__label.poppins
	font-size: 0.9rem

.inline-block
	position: inline-block

@media (max-width: 599px)
	.order-xs-first
		order: -10000

@media (max-width: 599px)
	.order-xs-last
		order: 10000

@media (min-width: 600px)
	.order-sm-first
		order: -10000

@media (min-width: 600px)
	.order-sm-last
		order: 10000

@media (min-width: 1024px)
	.order-md-last
		order: 10000

@media (min-width: 1024px)
	.order-md-none
		order: initial

@media (min-width: 600px)
	.q-dialog__inner--minimized > div
		max-width: 1000px