<template>
  <q-page class="row items-start justify-evenly q-pt-lg">
    <log-in v-if="status <= 1" @returnToken="returnToken"/>
    <show-id-get :api="api" v-if="status >= 2 && status <= 4" @returnShowData="returnShowData"/>
    <label-selector :api="api" v-if="status >= 5 && status <= 7" :show="show"
                    @returnEntries="returnEntries" />
    <!-- <athletes /> -->
    <div class="fixed-top text-center q-mt-xl q-pt-md">
      <q-chip v-if="user.username">Logged in as {{ user.username }}</q-chip>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { Competitors, competition, Header, Selectable, Entry, Show, Athlete, Horse } from '../components/models'
// import Athletes from '../components/Athletes.vue'
// import Horses from '../components/Horses.vue'
import LabelSelector from '../components/LabelSelector.vue'
import LogIn from '../components/LogIn.vue'
import { Api } from '../queries/api'
import ShowIdGet from '../components/ShowIdGet.vue'

export default defineComponent({
  name: 'PageIndex',
  components: {
    LabelSelector,
    LogIn,
    ShowIdGet,
    // Athletes,
    // Horses
  },
  setup () {
    const progressStates = Object.freeze({
      'confirmingCredentials': 1,
      'operational': 2,
      'waitingForShowId': 3,
      'retrievingBlackHorseData': 4,
      'waitingForExcelFileIngest': 5,
      'loadingExcelData': 6,
      'assigningDataLabels': 7,
      'retrievingAthleteAndHorseBlackHorseData': 8,
      'comparingAthletes': 9,
      'comparingHorses': 10,
      'confirmingCompetitors': 11,
      'uploadingCompetitorsToBlackHorse': 12,
      'done': 13
    })
    let status = progressStates.confirmingCredentials
    const api = new Api('', '')
    const show = ref<Show>()
    const competitions = ref<Array<competition>>()
    const user = ref<Object>({ username: '', token: ''})
    return { progressStates, status, show, competitions, api, user }
  },
  methods: {
    returnToken (user) {
      try {
        if (!user) throw 'Email or password incorrect!'
        const serverAddress = 'https://spectatorjudginga14295f70.hana.ondemand.com/andromeda-1.0.0/api/graph'
        this.api = new Api(serverAddress, 'Bearer ' + user.token)
        console.info(`${user.username} logged in`)
        this.user = user

        this.status = this.progressStates.waitingForShowId
      } catch (error) {
        this.status = this.progressStates.confirmingCredentials
        console.error(`unable to login becase ${error}`)
      }
    },
    returnShowData (data) {
      this.show = new Show()
      this.show.parseObject(data.show.id, data.show.name, data.show.nation)
      this.competitions = data.competitions
      console.log(this.show)
      console.log(this.competitions)
      this.status = this.progressStates.waitingForExcelFileIngest
    },
    returnEntries (entries) {
      this.entries = entries
      console.log(entries)
      //create unique athlete array
      let athletes : Array<Athlete> = []
      entries.forEach(athlete => {
        athletes.push(athlete.athlete)
      })
      athletes = this._.uniqBy(athletes, athlete => athlete.nationalRegistrations[0].number)
      // create unique horse array
      let horses : Array<Horse> = []
      entries.forEach(horse => {
        horses.push(horse.horse)
      })
      horses = this._.uniqBy(horses, horse => horse.nationalRegistrations[0].number)
      this.getHorsesAndAthletesByIds(athletes, horses, entries)
    },
    async getHorsesAndAthletesByIds (athletes : Array<Athlete>, horses : Array<Horse>, entries : Array<Entry>) {
      const BHHorses : Array<Horse> = []
      // const newHorses : Array<Horse> = []
      for (let i = 0; i < horses.length && horses.length  !== 0; i++) {
        let newHorse : Horse
        if (horses[i].feiId) newHorse = await this.api.horsesApi.findHorsesByFeiId(horses[i].feiId)
        else newHorse = await this.api.horsesApi.findHorsesByNationalRegistrationNumber(horses[i].nationalRegistrations)
        if (typeof newHorse !== undefined && newHorse !== null) {
          BHHorses.push(newHorse)
        }
      }
      this.BHHorses = BHHorses
      console.log('Black Horse Matching Horses: ', BHHorses)
    },
    async checkCompetitors (entries) {
      for (let i = 0; i < this.competitions.length && this.competitions.length !== 0; i++) {
        const existingCompetitors = await this.api.competitorsApi.getDressageIndividualCompetitorByCompetition(this.competitions[i].id)
        console.log('existingCompetitors', existingCompetitors)
        const filteredImportCompetitors = entries.filter((c : Entry) => { return c.competitionNumber === this.competitions[i].number })
        await this.saveOrUpdateCompetitorsForCompetition(filteredImportCompetitors, this.competitions[i].id, existingCompetitors)
        // await this.checkIfLocalCompetitorGotDeleted(filteredImportCompetitors, this.competitions[i].id, existingCompetitors)
      }
    },
    async saveOrUpdateCompetitorsForCompetition (localCompetitors, competitionId : number, competitors : Array<Entry>) {
      let checkedHorses : Array<Horse> = []
      let existingHorses : Array<Horse> = []
      let checkedAthletes : Array<Athlete> = []
      let existingAthletes : Array<Athlete> = []
      try {
        // Filter all breaks
        let importedCompetitors = localCompetitors.filter((competitor) => {
          return competitor.athelte?.nationalRegistrations?.length > 0 && competitor.horse?.nationalRegistrations?.length
        })

        console.log(importedCompetitors)
        for (var i = 0; i < importedCompetitors.length; i++) {
          try {
            let horseBH
            let athleteBH
            const cno = importedCompetitors[i].cno || importedCompetitors.horse.permanentBridleNumber

            let competitorBH = competitors.filter((c) => c.cno === cno)

            if (!competitorBH || competitorBH.length === 0) {
              // Insert new competitor entry in BH database

              const filteredCheckedAthletes = checkedAthletes.filter((a) => {
                return a.nationalRegistrations.forEach(nr => {
                  return importedCompetitors[i].nationalRegistrations.includes(nr.number)
                })
              })
              const filteredCheckedHorses = checkedHorses.filter((a) => {
                return a.nationalRegistrations.forEach(nr => {
                  return importedCompetitors[i].nationalRegistrations.includes(nr.number)
                })
              })
              console.log(filteredCheckedAthletes)

              if (filteredCheckedAthletes && filteredCheckedAthletes.length > 0) {
                athleteBH = filteredCheckedAthletes[0].bhAthlete
              }

              if (filteredCheckedHorses && filteredCheckedHorses.length > 0) {
                horseBH = filteredCheckedHorses[0].bhHorse
              }

              if (!athleteBH) {
                athleteBH = await this.getOrCreateAthlete(importedCompetitors[i].idsRiderID)
                checkedAthletes.push({ localId: importedCompetitors[i].idsRiderID, bhAthlete: athleteBH })
              }
              if (!horseBH) {
                horseBH = await this.getOrCreateHorse(importedCompetitors[i].idsHorseID)
                checkedHorses.push({ localId: importedCompetitors[i].idsHorseID, bhHorse: horseBH })
              }

              if (athleteBH && horseBH) {
              // Convert competitionDate to UTC from the defined TimeZone. This assumes that the date already is
                let competitionDate = this.$day(importedCompetitors[0].dtmDate)
                let split = importedCompetitors[i].dtmTime.toString().substring(11, 20)
                let momentTime = competitionDate.format('YYYY-MM-DD') + ' ' + split
                let momentTimeTz = this.$day(momentTime).tz(competitionTimeZone, true)

                // both are existing
                let dressageIndividualCompetitor = {
                  zonedInstant: {
                    instant: momentTimeTz.tz('UTC').format(),
                    timeZone: competitionTimeZone
                  },
                  cno: importedCompetitors[i].cno || importedCompetitors.horse.permanentBridleNumber,
                  athlete: {
                    id: athleteBH.id
                  },
                  horse: {
                    id: horseBH.id,
                    name: horseBH.name
                  },
                  competition: {
                    id: competitionId
                  }
                }
                const savedCompetitor = await api.competitorsApi.saveDressageIndividualCompetitor(dressageIndividualCompetitor)
                competitors.push(savedCompetitor)
              }
            } else if (competitorBH && competitorBH.length > 0) {
            // check if competitor was updated
              const isUpcoming = competitorBH[0].status === 'UPCOMING'
              let isChanged = false
              let competitionDate = this.$day(importedCompetitors[0].dtmDate)
              let split = importedCompetitors[i].dtmTime.toString().substring(11, 20)
              let momentTime = competitionDate.format('YYYY-MM-DD') + ' ' + split
              let momentTimeTz = this.$day(momentTime).tz(competitionTimeZone, true)

              const filteredCheckedAthletes = checkedAthletes.filter((a) => a.localId === importedCompetitors[i].idsRiderID)
              const filteredCheckedHorses = checkedHorses.filter((h) => h.localId === importedCompetitors[i].idsHorseID)

              if (filteredCheckedAthletes && filteredCheckedAthletes.length > 0) {
                athleteBH = filteredCheckedAthletes[0].bhAthlete
              }

              if (filteredCheckedHorses && filteredCheckedHorses.length > 0) {
                horseBH = filteredCheckedHorses[0].bhHorse
              }

              if (!athleteBH) {
                athleteBH = await this.getOrCreateAthlete(importedCompetitors[i].idsRiderID)
                checkedAthletes.push({ localId: importedCompetitors[i].idsRiderID, bhAthlete: athleteBH })
              }
              if (!horseBH) {
                horseBH = await this.getOrCreateHorse(importedCompetitors[i].idsHorseID)
                checkedHorses.push({ localId: importedCompetitors[i].idsHorseID, bhHorse: horseBH })
              }

              if (competitorBH[0].zonedInstant.instant !== momentTimeTz.tz('UTC').format()) {
                isChanged = true
                competitorBH[0].zonedInstant.instant = momentTimeTz.tz('UTC').format()
              }
              if (competitorBH[0].horse.id !== horseBH.id) {
                comment = comment + '\n Competitor ID: ' + competitorBH[0].id + ' has a changed horse. Manual update required! (Competiton Id: ' + competitionId + ' )'
              }
              if (competitorBH[0].athlete.id !== athleteBH.id) {
                comment = comment + '\n Competitor ID: ' + competitorBH[0].id + ' has a changed athlete. Manual update required! (Competiton Id: ' + competitionId + ' )'
              }

              if (isChanged && isUpcoming) {
                comment = comment + '\n Competitor ' + competitorBH[0].athlete.firstName + '(ID: ' + competitorBH[0].id + ') had a changed time and was updated automatically'
                this._.forEach(competitorBH[0].judgeResults, judgeResult => {
                  // the server does not expect and accept markedExercises
                  delete judgeResult.markedExercises
                })
                competitorBH[0] = await this.api.competitorsApi.saveDressageIndividualCompetitor(competitorBH[0])
              } else if (isChanged && !isUpcoming) {
                comment = comment + '\n Competitor ' + competitorBH[0].athlete.firstName + '(ID: ' + competitorBH[0].id + ') has a changed time but the status is ' +
                competitorBH[0].status + '. Manual update required! (Competiton Id: ' + competitionId + ' )'
              }
            }
          } catch (e) {
            console.error(e)
          }
        }
        return Promise.resolve('Competitors saved')
      } catch (e) {
        console.error(e)
      }
    }

  }
})
</script>
