<template>
  <q-list bordered class="full-width" separator>
    <q-item class="items-center justify-evenly">
      <q-item-section class="col-lg-3">
        <q-item-label>
          <q-file v-model="file"
                  @input="loadFile"
                  @clear="clearAll"
                  label="Please select a file"
                  clearable accept=".xlsx, .lsx, .csv, .json">
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-item dense clickable v-ripple v-for="header in headers"
            :key="header.source">
      <q-item-section class="col-6">
        <q-item-label>{{ header.source }}</q-item-label>
        <q-item-label caption>{{ competitors[0][header.source] || '' }}</q-item-label>
      </q-item-section>
      <q-item-section class="col-6">
        <q-select v-model="header.databaseKey" :options="entryFeilds" type="text" emit-value map-options label="Label" dense clearable />
      </q-item-section>
    </q-item>
    <q-item>
      <q-item-section end class="col-1 col-11-offset" v-if="competitors.length > 0">
        <q-btn @click="saveImportTypes">SAVE</q-btn>
      </q-item-section>
    </q-item>
  </q-list>
    
</template>
    
<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { Competitors, Header, Selectable, Entry, Nation, Show, Athlete, Horse } from '../components/models'
import XLSX from 'xlsx'
export default defineComponent({
  setup () {
    const competitors = ref<Competitors>([])
    const headers = ref<Array<Header>>([])
    const file = <Array<File>>[]
    const entryFeilds = ref<Array<Selectable>>([
      {
        value: 'athlete.firstName',
        label: 'Athlete First Name'
      },
      {
        value: 'athlete.familyName',
        label: 'Athlete Family Name'
      },
      {
        value: 'athlete.fullName',
        label: 'Athlete Full Name'
      },
      {
        value: 'athlete.feiId',
        label: 'Athlete FEI Id'
      },
      {
        value: 'athlete.nationalRegistrations.number',
        label: 'Athlete National Registration'
      },
      {
        value: 'athlete.dateOfBirth',
        label: 'Athlete Date of birth'
      },
      {
        value: 'athlete.gender',
        label: 'Athlete Gender'
      },
      {
        value: 'athlete.nation.ioc',
        label: 'Athlete Nation'
      },
      {
        value: 'athlete.email',
        label: 'Athlete Email'
      },
      {
        value: 'athlete.comment.message',
        label: 'Athlete comment'
      },
      {
        value: 'horse.name',
        label: 'Horse Name'
      },
      {
        value: 'horse.feiId',
        label: 'Horse FEI Id'
      },
      {
        value: 'horse.nationalRegistrations.number',
        label: 'Horse National Registration Number'
      },
      {
        value: 'horse.dateOfBirth',
        label: 'Horse Date of Birth'
      },
      {
        value: 'horse.sire',
        label: 'Horse Sire'
      },
      {
        value: 'horse.dam',
        label: 'Horse Dam'
      },
      {
        value: 'horse.sireOfDam',
        label: 'Horse Sire of Dam'
      },
      {
        value: 'horse.gender',
        label: 'Horse Gender'
      },
      {
        value: 'horse.studbook',
        label: 'Horse Studbook'
      },
      {
        value: 'horse.breeder',
        label: 'Horse breeder'
      },
      {
        value: 'horse.owner',
        label: 'Horse Owner'
      },
      {
        value: 'horse.permanentBridleNumber',
        label: 'Horse Bridle Number'
      },
      {
        value: 'competitor.startTime',
        label: 'Start time'
      },
      {
        value: 'competitor.division',
        label: 'Competitor Division'
      },
      {
        value: 'competition.number',
        label: 'Competition Number'
      }
    ])

    return { competitors, headers, file, entryFeilds }
  },
  props: {
    api: {
      default: null
    },
    show: {
      type: Show,
      default: new Show()
    }
  },
  methods: {
    loadFile (raw : File) {
      if (!(raw)) {
        this.competitors = <Competitors>([])
        return false
      }
      console.log(this)
      this.$parent.$parent.status++
      const reader = new FileReader()
      reader.onload = (e : ProgressEvent<FileReader>) => {
        const data = e.target?.result
        const sheets = XLSX.read(data, { type: 'array' })
        let sheetName : string
        if (sheets.SheetNames.includes(String(/competitors|draw|startlist/i))) {
          sheetName = this._.find(sheets.SheetNames, (sheetName : string) => sheetName.includes(String(/competitors|draw|startlist/i))) || ''
        } else {
          sheetName = sheets.SheetNames[0]
        }
        const worksheet = sheets.Sheets[sheetName]
        const results : Competitors = XLSX.utils.sheet_to_json(worksheet)
        this._.each(results, result => {
          // we create a new array for the key so we can set up the source and the destination keys
          const resultHeaders = <Array<Header>>[]
          this._.each(Object.keys(result), (r : string) => { resultHeaders.push({ source: r, databaseKey: '' }) })
          this.headers = this._.unionBy(this.headers, resultHeaders, 'source')
        })
        this.headers = this._.uniq(this.headers)
        this._.each(this.headers, (header : Header) => {
          this.$util.findKeyName(header)
        })
        console.log(this.headers)
        this.competitors = results
        this.$parent.$parent.status++
        console.log(results)
      }
      reader.readAsArrayBuffer(raw)
    },
    clearAll () {
      this.competitors = <Competitors>[]
      this.headers = <Array<Header>>[]
      this.file = <Array<File>>[]
      this.$parent.$parent.status = this.$parent.$parent.progressStates.waitingForExcelFileIngest
    },
    saveImportTypes () {
      const entries = <Array<Entry>>[]
      this._.each(this.competitors, competitor => {
        const entry = new Entry()
        this._.each(competitor, (value : unknown, key : string) => {
          const property = this._.find(this.headers, (header : Header) => header.source === key)
          this.$util.assignEntity(property.databaseKey, value, entry)
        })
        entries.push(entry)
      })
      if (this._.some(entries, ['athlete.nation.id', 0])) {
        let askToAddAthleteNation = async (entries) => {
          return new Promise((resolve, reject) => {
            this.$q.dialog({
              title: 'Automatically add nation?',
              message: 'There are no nations indicated for some of your athletes, this is does not meet the database specification.\nWould you like to assign the default nation to the imported athletes?',
              cancel: true,
              persistent: true
            }).onOk((data : string) => {
              this._.each(entries, entry => {
                const defaultNation : Nation = {
                  ioc: 'aus',
                  id: 2
                }
                entry.athlete.nation = entry.athlete.nation?.id === 0 ? this.show.nation : entry.athlete.nation
                entry.athlete.nationalRegistrations[0].federation.nation = entry.athlete.nationalRegistrations[0].federation.nation.id === 0 ? defaultNation : entry.athlete.nationalRegistrations[0].federation.nation.id
                entry.horse.nationalRegistrations[0].federation.nation = entry.horse.nationalRegistrations[0].federation.nation.id === 0 ? defaultNation : entry.horse.nationalRegistrations[0].federation.nation.id
              })
              resolve(entries)
            }).onCancel(() => {
              resolve(entries)
            })
          })
        }
        askToAddAthleteNation(entries).then((entries) => {
          this.$emit('returnEntries', entries)
          this.$parent.$parent.status++
        })
      }
    }

  }
})
</script>

<style>

</style>