<template>
  <q-page padding class="column fit align-center justify-center ">
    <form class="row full-width justify-center">
      <q-item class="col-6" style="box-shadow: grey 3px 3px 3px; border-radius: 10px;">
        <q-item-section middle avatar>
          <q-avatar color="primary" text-color="white" icon="person" />
        </q-item-section>
        <q-item-section>
          <q-item-label><q-input v-model="username" type="text" label="E-Mail" autocomplete="username" placeholder=""/></q-item-label>
          <q-item-label caption>
            <q-input v-model="password" :type="isPwd ? 'password' : 'text'" label="Password" autocomplete="current-password" placeholder="">
              <template v-slot:append>
                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd" />
              </template>
            </q-input>
          </q-item-label>
          <q-item-label><q-btn color="primary" icon="check" label="OK" @click="attemptLogin" /></q-item-label>
        </q-item-section>
      </q-item>
    </form>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import axios from 'axios'
import { Api } from '../queries/api'

export default defineComponent({
  setup () {
    const username = ref<String>('')
    const password = ref<String>('')
    const isPwd = ref<Boolean>(true)

    return { username, password, isPwd }
  },
  methods: {
    attemptLogin () {
      axios.request({
        method: 'post',
        url: 'https://spectatorjudginga14295f70.hana.ondemand.com/andromeda-1.0.0/api/graph',
        data: {
          query: `query Autheticate ($email: String!, $password: String!) {
                    authenticate(email: $email, password: $password) {
                      jwt
                    }
                  }`,
          variables: {
            email: this.username,
            password: this.password
          }
        }
      }).then((response) => {
        if (response.data.errors) throw response.data.errors[0].message
        // also refresh the token after 50 minutes
        this.$parent.$parent.status = this.$parent?.$parent?.progressStates?.confirmingCredentials
        let user = {
          username: this.username,
          token: response.data.data.authenticate.jwt
        }
        this.$emit('returnToken', user)
      })
      .catch(error => {
        console.error(`failed to log in ${this.username} because of ${error}`)
        this.$parent.$parent.status = this.$parent?.$parent?.progressStates?.waitingForCredentials
        this.$emit('returnToken', false)
      })
    }
  }
})
</script>