<template>
  <q-page padding class="column fit align-center justify-center ">
    <form class="row full-width justify-center">
      <q-item class="col-6" style="box-shadow: grey 3px 3px 3px; border-radius: 10px;">
        <q-item-section middle avatar>
          <q-avatar color="primary" text-color="white" icon="person" />
        </q-item-section>
        <q-item-section>
          <q-item-label><q-input v-model="showId" type="text" label="Show Id" placeholder=""/></q-item-label>
          <q-item-label><q-btn color="primary" icon="check" label="OK" @click="attemptLogin" /></q-item-label>
        </q-item-section>
      </q-item>
    </form>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import axios from 'axios'

export default defineComponent({
  setup () {
    const showId = ref<Number>()
    return { showId }
  },
  props: {
    api: {
      default: undefined
    }
  },
  methods: {
    attemptLogin () {
      this.api.showsApi.getCompetitions(Number(this.showId))
        .then(response => {
          this.$emit('returnShowData', response)
        }).catch(error => {
            console.error(`failed to log in ${this.username} because of ${error}`)
            this.$parent.$parent.status = this.$parent?.$parent?.progressStates?.waitingForShowId
            this.$emit('returnShowData', false)
        })
    }
  }
})
</script>